button {
    background-color: green;
    font-size: 20px;
    color: red;
}

button:hover {
    color: orange;
    background-color: purple;
    border: 3px solid yellow;
}

button:active {
    color: blue;
    background-color: yellow;
    font-size: 40px;
    border: 5px solid pink
}