@import url('https://fonts.googleapis.com/css2?family=Epilogue:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    background-color: hsl(0, 0%, 98%);
    font-family: "Epilogue", sans-serif;
}

header {
    padding: 25px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

nav {
    display: flex;
    flex-direction: row;
    gap: 50px;
    color: black;
    align-items: center;
}

a {
    color: black;
    text-decoration: none;
}

h3 {
    font-size: 25px;
}

.reg {
    display: flex;
    align-items: center;
    gap: 50px;
}

h1 {
    font-size: 60px;
    color: hsl(0, 0%, 8%);
}

main {
    display: flex;
    gap: 250px;
    justify-content: center;
    align-items: center;
}

.desktop {
    width: 350px;
}

.div1 {
    display: flex;
    flex-direction: column;
    gap: 40px;
    align-items: start;
}

p {
    color: hsl(0, 0%, 41%);
    font-weight: 500;
    font-size: 15px;
    line-height: 23px;
}

.div2 {
    margin-top: 50px;
    display: flex;
    gap: 30px;
    justify-content: center;
    align-items: center;
}

.div2 img {
    width: 80px;
}



/* Header responsive */

@media (max-width: 850px) {
    nav {
        gap: 20px;
        font-size: 13px;
    }

    .reg {
        gap: 20px;
        font-size: 15px;
    }
}

@media (max-width: 600px) {
    .reg {  
        display: none;
    }

    .menu {
        display: block !important;
    }
}

@media (max-width: 400px) {
    .alldivs {
        font-size: 13px;
    }
}



/* Main responsive (div1) */

@media (max-width: 850px) {
    .div1 {
        gap: 20px;
    }

    h1 {
        font-size: 40px;
    }
}

@media (max-width: 600px) {
    h1 {
        font-size: 30px;
    }

    p {
        font-size: 13px;
        line-height: 1;
    }

    buttton {
        padding: 9px;
    }
}

@media (max-width: 400px) {
    h1 {
        font-size: 25px;
    }

    p {
        font-size: 11px;
    }

    buttton {
        padding: 5px;
    }
}

@media (max-width: 320px) {
    .div1 {
        gap: 15px;
    }

    h1 {
        font-size: 20px;
    }

    p {
        font-size: 10px;
    }

    buttton {
        padding: 3px;
    }
}



/* (div2) responsive */

@media (max-width: 1050px) {
    .desktop {
        width: 250px;
    }

    .div2 {
        gap: 15px;
    }
}

@media (max-width: 950px) {
    main {
        gap: 100px;
    }
}

@media (max-width: 800px) {
    .desktop {
        width: 180px;
    }

    .div2 {
        gap: 10px;
    }
}

@media (max-width: 650px) {
    .desktop {
        width: 160px;
    }

    .div2 {
        gap: 5px;
    }

    main {
        gap: 50px;
    }
}

@media (max-width: 550px) {
    .desktop {
        width: 140px;
    }

    .div2 {
        gap: 3px;
    }

    main {
        gap: 30px;
    }

    .div2 img {
        width: 60px;
    }
}