@import url('https://fonts.googleapis.com/css2?family=Momo+Signature&family=Vend+Sans:ital,wght@0,300..700;1,300..700&display=swap');

.p4 {
    font-family: "Momo Signature", cursive;
}

.p5 {
    font-family: "Vend Sans", sans-serif;
}
