@import url('https://fonts.googleapis.com/css2?family=Barriecito&display=swap');

/* Homework 2 CSS */

.samep {
    color: yellow;
    background-color: green;
    font-size: 40px;
}

.samep:hover {
    color: purple;
    background-color: blue;
    font-size: 20px;
    border: 4px solid yellow;
}

.samep:active {
    color: blue;
    background-color: yellow;
    font-size: 30px;
    border: 5px solid green;
}



/* Homework 3 CSS */

.p123 {
    color: blue;
    background-color: brown;
    font-size: 45px;
}

.p123:hover {
    color: pink;
    background-color: blue;
    font-size: 26px;
    border: 4px solid orange;
    font-family: "Barriecito", system-ui;
}

.p123:active {
    color: purple;
    background-color: yellow;
    font-size: 25px;
    border: 4px solid blue;
}

.p456 {
    color: purple;
    background-color: yellow;
    font-size: 25px;
    border: 4px solid blue;
}

.p456:hover {
    color: orange;
    background-color: lightblue;
    font-size: 20px;
    border: 4px solid blue dotted; 
    font-family: "Barriecito", system-ui;
    text-decoration: line-through yellow wavy;
}

.p456:active {
    color: yellow;
    background-color: red;
    font-size: 52px;
    border: 5px solid purple dashed;
    text-decoration: overline underline blue dotted;
}



/* Homework 4 CSS */

a:link {
    color: red;
    text-decoration: none;
    text-decoration: overline dotted green;
    background-color: purple;
}   

a:visited {
    color: pink;
    text-decoration: underline purple dotted;
    background-color: red;
    font-size: 20px;
}