@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    font-family: "Outfit", sans-serif;
    background-color: hsl(212, 45%, 89%);
    display: flex;
    justify-content: center;
    align-items: center;
}

div {
    width: 300px;
    height: 450px;
    background-color: white;
    border-radius: 15px;
    display: flex;
    justify-content: start;
    align-items: center;
    flex-direction: column;
    padding: 15px;
    text-align: center;
    gap: 15px;
}

img {
    width: 100%;
    border-radius: 10px;
}

h1 {
    font-size: 22px;
}

p {
    font-size: 15px;
    color: #9c9da0;
}