/* Classwork 1 CSS */

.parent {
    width: 400px;
    height: 400px;
    background-color: black;
    display: flex;
    flex-direction: column-reverse;
}

.parent div {
    width: 50px;
    height: 50px;
    background-color: blue;
    display: flex;
    justify-content: center;
    text-align: center;
}



/* Classwork 2 CSS */

.parent2 {
    width: 500px;
    height: 500px;
    background-color: blue;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.parent2 div {
    width: 70px;
    height: 70px;
    background-color: yellow;
}