* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    justify-content: center;
    display: flex;
    align-items: center;
    background-color: darkgray
}

.parent {
    height: 450px;
    width: 600px;
    background-color: black;
    border-radius: 5px;
}

.child1 {
    border-radius: 5px;
    width: 600px;
    height: 200px;
    background-color: white;
    
}